{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- Page Header-->
<header class="masthead" style="background-image: url({%static 'assets/img/home-bg.jpg' %})">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>Create new blog</h1>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content-->
<main class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <p>Create new blog</p>
                <div class="my-5">
                    <form method="POST" id="contactForm" data-sb-form-api-token="API_TOKEN">
                        {%csrf_token%}
                        {% comment %} <div class="form-floating">
                            <input required class="form-control" id="title" type="text" name="title" for="" placeholder="Title..." data-sb-validations="required" />
                            <label for="title">Title</label>
                            <div class="invalid-feedback" data-sb-feedback="title:required">A title is required.</div>
                        </div>
                        <div class="form-floating">
                            <input class="form-control" id="sub-heading" type="text" name="subheading" for="" placeholder="Sub-heading..." data-sb-validations="required,email" />
                            <label for="sub-heading">Sub-heading</label>
                            <div class="invalid-feedback" data-sb-feedback="sub-heading:required">Subheading is required.</div>
                        </div>
                        <div class="form-floating">
                            <textarea required class="form-control" id="description" name="description" for="" placeholder="Description..." style="height: 12rem" data-sb-validations="required"></textarea>
                            <label for="description">Description</label>
                            <div class="invalid-feedback" data-sb-feedback="description:required">Description is required.</div>
                        </div> {% endcomment %}
                        {{ form.as_p }}
                        {{ form.media }}
                        <br />
                        <!-- Submit success message-->
                        <!---->
                        <!-- This is what your users will see when the form-->
                        <!-- has successfully submitted-->
                        <div class="d-none" id="submitSuccessMessage">
                            <div class="text-center mb-3">
                                <div class="fw-bolder">Form submission successful!</div>
                                To activate this form, sign up at
                                <br />
                                <a href="https://startbootstrap.com/solution/contact-forms">https://startbootstrap.com/solution/contact-forms</a>
                            </div>
                        </div>
                        <!-- Submit error message-->
                        <!---->
                        <!-- This is what your users will see when there is-->
                        <!-- an error submitting the form-->
                        <div class="d-none" id="submitErrorMessage"><div class="text-center text-danger mb-3">Error sending message!</div></div>
                        <!-- Submit Button-->
                        <button class="btn btn-primary text-uppercase" id="submitButton" type="submit">Create</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock content %}
