{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- Page Header-->
<header class="masthead" style="background-image: url({%static 'assets/img/home-bg.jpg' %})">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>Herald BlogApp</h1>
                    <span class="subheading">A Project Outcome of Summer Django Class</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content-->
<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
            <form class="form-inline my-2 my-lg-0">
                <div class="d-flex">
                    <input name="q" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" required>
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </div>
            </form>
            {%if blogs.count == 0 %}
                    <p class="text-center">No blog availabe</p>
            
            {% else %}
            <!-- Post preview-->
            <div class="post-preview">
                {%for blog in blogs%}
                    <a href="{% url 'crud:part-data' blog.id %}">
                        <h2 class="post-title">{{blog.title}}</h2>
                        <h3 class="post-subtitle">{{blog.subheading}}</h3>
                    </a>
                    {% if request.user == blog.author %}
                    <a href="{% url 'crud:update-blog' blog.id %}" class="btn btn-sm btn-secondary text-light">Edit</a>
                    <a href="{% url 'crud:delete-blog' blog.id %}" class="btn btn-sm btn-danger text-light">Delete</a>
                    {% endif %}

                    <p class="post-meta">
                        Posted by
                        <a href="#!">{{blog.author.username}}</a>
                        on {{blog.created}}
                    </p>
                    <!-- Divider-->
                    <hr class="my-4" />
                {%endfor%}
            </div>
            
            <!-- Pager-->
            {% comment %} <div class="d-flex justify-content-end mb-4"><a class="text-primary text-uppercase" href="#!">All Posts →</a></div> {% endcomment %}
            <nav class="d-flex justify-content-end mb-4" aria-label="Page navigation example">
                <ul class="pagination">
                    {% if blogs.has_previous %}
                    <li class="page-item"><a class="page-link" href="{% url 'crud:home' %}?page={{blogs.previous_page_number}}">Previous</a></li>
                    {% endif %}

                    {% for page_number in blogs.paginator.page_range %}
                    <li class="page-item"><a class="page-link {% if page_number == blogs.number %}active{% endif %}" href="{% url 'crud:home' %}?page={{page_number}}">{{page_number}}</a></li>
                    {% endfor %}

                    {% if blogs.has_next %} 
                    <li class="page-item"><a class="page-link" href="{% url 'crud:home' %}?page={{blogs.next_page_number}}">Next</a></li>
                    {% endif %}
                </ul>
            </nav>
            {%endif%}

        </div>
    </div>
</div>
{% endblock content %}
