{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- Page Header-->
<header class="masthead" style="background-image: url('{% static 'assets/img/post-bg.jpg' %}')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="post-heading">
                    <h1>{{ blog.title }}</h1>
                    <h2 class="subheading">{{ blog.subheading }}</h2>
                    <span class="meta">
                        Posted by
                        <a href="#!">Start Bootstrap</a>
                        on August 24, 2023
                    </span>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Post Content-->
<article class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            {% if request.user == blog.author %}

                <div class="d-flex justify-content-between">
                    <div class="d-flex align-items-center">
                        <h2>{{ blog.title }}</h2>
                    </div>
                    <div class="d-flex align-items-center">
                        <a href="{% url 'crud:update-blog' blog.id %}" class="btn btn-sm btn-secondary text-light mx-1">Edit</a>
                        <a href="{% url 'crud:delete-blog' blog.id %}" class="btn btn-sm btn-danger text-light mx-1">Delete</a>
                    </div>
                </div>
                <!-- Divider-->
                <hr class="my-4" />
            {% endif %}
            <div class="col-md-10 col-lg-8 col-xl-7">
                {{ blog.description }}
            </div>
        </div>
    </div>
</article>
{% endblock content %}